<div>
  <section class="hero-section">
    <div class="container">
      <div class="search-box">
        <!-- TRIP TYPE -->
        <div class="trip-types">
          <label class="trip-radio">
            <input
              type="radio"
              name="tripType"
              value="oneWay"
              [(ngModel)]="tripType"
              (ngModelChange)="onTripTypeChange($event)"
            />
            <span>One Way</span>
          </label>

          <label class="trip-radio">
            <input
              type="radio"
              name="tripType"
              value="roundWay"
              [(ngModel)]="tripType"
              (ngModelChange)="onTripTypeChange($event)"
            />
            <span>Round Trip</span>
          </label>
        </div>

        <!-- FORM -->
        <form>
          <div class="flight-grid">
            <!-- FROM -->
            <div class="flight-field">
              <label class="field-label"> From </label>

              <input
                type="text"
                class="custom-input"
                placeholder="Dhaka DAC"
                [(ngModel)]="searchFrom"
                name="from"
              />
            </div>

            <!-- TO -->
            <div class="flight-field">
              <label class="field-label"> To </label>

              <input
                type="text"
                class="custom-input"
                placeholder="Cox's Bazar CXB"
                [(ngModel)]="searchTo"
                name="to"
              />
            </div>

            <!-- JOURNEY -->
            <div class="flight-field">
              <label class="field-label"> Journey Date </label>

              <input
                type="date"
                class="custom-input"
                [(ngModel)]="journeyDate"
                name="journeyDate"
              />
            </div>

            <!-- RETURN -->
            <div class="flight-field">
              <label class="field-label"> Return Date </label>

              <input
                type="date"
                class="custom-input"
                [(ngModel)]="returnDate"
                name="returnDate"
                [disabled]="tripType === 'oneWay'"
              />
            </div>

            <!-- TRAVELER -->
            <div class="flight-field traveler-field">
              <label class="field-label"> Travelers & Class </label>

              <!-- BUTTON -->
              <button
                type="button"
                class="traveler-trigger"
                (click)="toggleTravelerDropdown()"
              >
                <div class="traveler-trigger-content">
                  <div>
                    <div class="traveler-count">
                      {{ adult + child + infant }} Traveler(s)
                    </div>

                    <div class="traveler-class">
                      {{ selectedClass }}
                    </div>
                  </div>

                  <div class="dropdown-arrow">▼</div>
                </div>
              </button>

              <!-- DROPDOWN -->
              <div class="traveler-dropdown" *ngIf="showDropdown">
                <!-- TOP -->
                <div class="dropdown-top">
                  <div class="dropdown-title">
                    {{ selectedClass }}
                  </div>

                  <div class="dropdown-subtitle">
                    {{ adult + child + infant }} Travelers
                  </div>
                </div>

                <!-- CLASS -->
                <div class="dropdown-section">
                  <p class="section-title">Preferred Class</p>

                  <div class="class-grid">
                    <button
                      type="button"
                      class="class-btn"
                      [ngClass]="
                        selectedClass === 'Economy' ? 'active-class' : ''
                      "
                      (click)="selectedClass = 'Economy'"
                    >
                      Economy
                    </button>

                    <button
                      type="button"
                      class="class-btn"
                      [ngClass]="
                        selectedClass === 'Business' ? 'active-class' : ''
                      "
                      (click)="selectedClass = 'Business'"
                    >
                      Business
                    </button>

                    <button
                      type="button"
                      class="class-btn"
                      [ngClass]="
                        selectedClass === 'First Class' ? 'active-class' : ''
                      "
                      (click)="selectedClass = 'First Class'"
                    >
                      First Class
                    </button>
                  </div>
                </div>

                <!-- PASSENGERS -->
                <div class="dropdown-section">
                  <p class="section-title">Travelers</p>

                  <!-- ADULT -->
                  <div class="traveler-row">
                    <div>
                      <div class="traveler-name">Adult</div>

                      <div class="traveler-age">12+ years</div>
                    </div>

                    <div class="counter-box">
                      <button
                        type="button"
                        class="count-btn"
                        (click)="decreaseAdult()"
                      >
                        -
                      </button>

                      <span class="count-value">
                        {{ adult }}
                      </span>

                      <button
                        type="button"
                        class="count-btn"
                        (click)="increaseAdult()"
                      >
                        +
                      </button>
                    </div>
                  </div>

                  <!-- CHILD -->
                  <div class="traveler-row">
                    <div>
                      <div class="traveler-name">Child</div>

                      <div class="traveler-age">2 - 12 years</div>
                    </div>

                    <div class="counter-box">
                      <button
                        type="button"
                        class="count-btn"
                        (click)="decreaseChild()"
                      >
                        -
                      </button>

                      <span class="count-value">
                        {{ child }}
                      </span>

                      <button
                        type="button"
                        class="count-btn"
                        (click)="increaseChild()"
                      >
                        +
                      </button>
                    </div>
                  </div>

                  <!-- INFANT -->
                  <div class="traveler-row">
                    <div>
                      <div class="traveler-name">Infant</div>

                      <div class="traveler-age">Below 2 years</div>
                    </div>

                    <div class="counter-box">
                      <button
                        type="button"
                        class="count-btn"
                        (click)="decreaseInfant()"
                      >
                        -
                      </button>

                      <span class="count-value">
                        {{ infant }}
                      </span>

                      <button
                        type="button"
                        class="count-btn"
                        (click)="increaseInfant()"
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>

                <!-- DONE -->
                <div class="done-area">
                  <button
                    type="button"
                    class="done-btn"
                    (click)="showDropdown = false"
                  >
                    Done
                  </button>
                </div>
              </div>
            </div>

            <!-- SEARCH -->
            <div class="flight-field">
              <button
                type="button"
                class="search-btn"
                (click)="searchAirTickets()"
              >
                SEARCH
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<div>
  <div>
    <section class="popular-destination py-5">
      <div class="container">
        <h2 class="section-title mb-4">Popular Destination</h2>

        <div class="row">
          <!-- Card 1 -->
          <div class="col-6 col-sm-3 col-lg-2 mb-3">
            <a href="#" class="destination-card">
              <div class="image-wrapper">
                <img
                  src="https://shohoz-cms-content.s3.ap-south-1.amazonaws.com/prod/5_6_6593347d58.jpg"
                  alt="Indonesia"
                />
                <p>Indonesia</p>
              </div>
            </a>
          </div>

          <!-- Card 2 -->
          <div class="col-6 col-sm-3 col-lg-2 mb-3">
            <a href="#" class="destination-card">
              <div class="image-wrapper">
                <img
                  src="https://shohoz-cms-content.s3.ap-south-1.amazonaws.com/prod/4_4_b3e0e34c1f.jpg"
                  alt="Singapore"
                />
                <p>Singapore</p>
              </div>
            </a>
          </div>

          <!-- Card 3 -->
          <div class="col-6 col-sm-3 col-lg-2 mb-3">
            <a href="#" class="destination-card">
              <div class="image-wrapper">
                <img
                  src="https://shohoz-cms-content.s3.ap-south-1.amazonaws.com/prod/3_4_a02e978b2e.jpg"
                  alt="Malaysia"
                />
                <p>Malaysia</p>
              </div>
            </a>
          </div>

          <!-- Card 4 -->
          <div class="col-6 col-sm-3 col-lg-2 mb-3">
            <a href="#" class="destination-card">
              <div class="image-wrapper">
                <img
                  src="https://shohoz-cms-content.s3.ap-south-1.amazonaws.com/prod/2_7_93092c0997.jpg"
                  alt="Nepal"
                />
                <p>Nepal</p>
              </div>
            </a>
          </div>

          <!-- Card 5 -->
          <div class="col-6 col-sm-3 col-lg-2 mb-3">
            <a href="#" class="destination-card">
              <div class="image-wrapper">
                <img
                  src="https://shohoz-cms-content.s3.ap-south-1.amazonaws.com/prod/3_1_1c6a1b4a21.jpg"
                  alt="Thailand"
                />
                <p>Thailand</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div>
    <div class="app-section py-5">
      <div class="container">
        <div class="row align-items-center">
          <!-- IMAGE -->
          <div class="col-md-5">
            <div class="app-img-box">
              <img
                src="https://s3-ap-south-1.amazonaws.com/shohoz-bus/prod/app-illustration-v2.webp?v=1.0.3"
                alt="Shohoz app"
              />
            </div>
          </div>

          <!-- CONTENT -->
          <div class="col-md-7">
            <h2 class="app-title">
              <span>Get More Out of Shohoz with our</span> mobile app
            </h2>

            <!-- FEATURES -->
            <div class="feature-list">
              <div class="feature-item">
                <img src="/assets/images/bullet-point1.png" />
                <p>Get train alerts before every departure</p>
              </div>

              <div class="feature-item">
                <img src="/assets/images/bullet-point1.png" />
                <p>Onboard train with digital tickets</p>
              </div>

              <div class="feature-item">
                <img src="/assets/images/bullet-point1.png" />
                <p>Faster and easier booking</p>
              </div>

              <div class="feature-item">
                <img src="/assets/images/bullet-point1.png" />
                <p>Easy access to your tickets</p>
              </div>
            </div>

            <!-- STORE -->
            <div class="store-box">
              <a
                href="https://play.google.com/store/apps/details?id=com.shohoz.rides&hl=en"
              >
                <img src="/assets/images/google-play.png" />
              </a>

              <a href="https://apps.apple.com/us/app/shohoz-app/id1354321445">
                <img src="/assets/images/app-store.png" />
              </a>

              <a href="https://www.whatsapp.com/download">
                <img src="/assets/images/whats-app-button-2.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <section class="travel-wrapper">
      <div class="container">
        <div class="row align-items-center">
          <!-- LEFT -->
          <div class="col-md-6">
            <h2 class="travel-heading">
              All your <span class="green-text">travel options</span> in one
              place
            </h2>

            <p class="travel-subtext">
              More than 1,000 trusted travel partners across trains, buses,
              flights, and launch, so that you can focus on the journey.
            </p>

            <div class="row travel-stats">
              <div class="col-4 stat-box">
                <div class="stat-value">250 Million+</div>
                <div class="stat-label">Tickets Sold</div>
              </div>

              <div class="col-4 stat-box">
                <div class="stat-value">3000+</div>
                <div class="stat-label">Routes</div>
              </div>

              <div class="col-4 stat-box">
                <div class="stat-value">10 Million+</div>
                <div class="stat-label">Happy Users</div>
              </div>
            </div>
          </div>

          <!-- RIGHT IMAGE -->
          <div class="col-md-6">
            <div class="image-box">
              <a
                href="/assets/images/travelimage.png"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="/assets/images/travelimage.png" alt="Travel" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FAQ -->
    <section class="faq-wrapper">
      <div class="container">
        <div class="row">
          <!-- LEFT -->
          <div class="col-md-6 faq-left">
            <h1 class="faq-heading">Got Questions ?<br />We’ve Got Answers</h1>

            <p class="faq-text">
              We are always happy to hear from you. If you have any questions,
              suggestions or opinions, please do not hesitate to reach out to
              us.
            </p>

            <a href="/contact" target="_blank">
              <button class="faq-btn">Contact Us</button>
            </a>
          </div>

          <!-- RIGHT -->
          <div class="col-md-6">
            <div class="faq-item">
              <div class="faq-q" (click)="toggleFaq(0)">
                <span>1. Can I get air tickets on Shohoz?</span>
                <span class="plus">{{ faqOpen[0] ? "−" : "+" }}</span>
              </div>
              <div class="faq-a" *ngIf="faqOpen[0]">
                Yes! Now you can book air tickets through website, app or call
                center.
              </div>
            </div>

            <div class="faq-item">
              <div class="faq-q" (click)="toggleFaq(1)">
                <span>2. Is there any time frame to buy a ticket?</span>
                <span class="plus">{{ faqOpen[1] ? "−" : "+" }}</span>
              </div>
              <div class="faq-a" *ngIf="faqOpen[1]">
                No time limit for online purchase. Hotline available 7 AM – 11
                PM.
              </div>
            </div>

            <div class="faq-item">
              <div class="faq-q" (click)="toggleFaq(2)">
                <span>3. How do I pay for my air tickets?</span>
                <span class="plus">{{ faqOpen[2] ? "−" : "+" }}</span>
              </div>
              <div class="faq-a" *ngIf="faqOpen[2]">
                VISA, MasterCard, AMEX, bKash, Nagad accepted.
              </div>
            </div>

            <div class="faq-item">
              <div class="faq-q" (click)="toggleFaq(3)">
                <span>4. Can I make changes to my booking?</span>
                <span class="plus">{{ faqOpen[3] ? "−" : "+" }}</span>
              </div>
              <div class="faq-a" *ngIf="faqOpen[3]">
                Email info@shohoz.com or call 16374.
              </div>
            </div>

            <div class="faq-item">
              <div class="faq-q" (click)="toggleFaq(4)">
                <span
                  >5. What happens if my flight is delayed or canceled?</span
                >
                <span class="plus">{{ faqOpen[4] ? "−" : "+" }}</span>
              </div>
              <div class="faq-a" *ngIf="faqOpen[4]">
                You will get SMS/email notification instantly.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="iata-container text-center">
    <img src="/assets/images/iata-logo.png" alt="iata logo" class="iata-logo" />
  </div>
</div>
